DATABASE_URL=postgresql://postgres:[YOUR_PASSWORD]@db.wxuwlgokarhaonrxtwji.supabase.co:5432/postgres
SUPABASE_URL=https://wxuwlgokarhaonrxtwji.supabase.co
SUPABASE_KEY=sb_publishable_072WHEgSWmFBZFeLVfmDNw_qo6UITWT
